body, td, th, input, select, textarea {
font: 13px Arial,Tahoma;
}
body{
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
a:hover{
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -border-radius: 8px;
  border-radius: 8px;
}
div, h1, h2, h3, h4, h5,h6, img, form, table, tr, th, td, dl, dt, dd{
	margin:0;
	padding:0;
	border: 0;
}
p {
  margin: 0 0 1em 0;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic; /* fixed IE images scaling */
}
table {
	width: 100%;
	empty-cells: show;
	border-spacing: 0;
}
h1 {
  line-height:1.4em;
}
h2 {
  line-height:1.3em;  
}
h3 {
  line-height:1.2em;  
}
h4{
  line-height:1.1em;  
}
h5{
  line-height:1.05em;  
}
h6{
  line-height:1.05em;  
}
h1,
h1 a,
h1 a:hover {
}
h2,
h2 a
h2 a:hover {
}
.topic3 {
  margin: 0 0 0.5em 0;
}
ul, ol {
	margin: 0.5em 0 0.5em 1em;
	padding: 0 0 0 1em;
}
li {
	margin: 0.2em 0 0.2em 0;
}
small {
  font-size: 0.9em;
  font-weight: normal;
}
hr {
  padding: 0;
  margin: 20px 0;
  width: 100%;
  border: 0;
  border-bottom: 1px dotted #aaa;
}
.clear {
	clear:both;
	line-height:0;
	height:0;
}
.fr { float: right}
.fl { float: left }
.cl { clear: left }
.cr { clear: right }
.cb { clear: both }
.r { text-align: right }
.c { text-align: center }
.b { font-weight: bold }
.hint { color: #AAA3A3; }
.breadcrumb,
.breadcrumb a {
  font-size: 0.9em;
  margin: 1.2em 0;
}
.breadcrumb {
  word-spacing: 0.3em;
}
.breadcrumb a:hover {
  color: #555;
  text-decoration: none;
}
/*------------------ form ------------------*/
form fieldset,
form .checkbox,
form .select {
	margin: 0;
	padding: 0;
  border: 0;
}
form .box {
  background-color: #f9f9f9;
  border: 2px solid #efefef;
}
form .text,
form .textarea,
form .select {
	border: 1px solid #d7d7d7;
  width: 100%;
}
form dl .optional {
  color: #757575;
}
form dt {
  padding: 4px;
  font-weight: bold;
}
form dd {
	padding: 0 7px 0 4px;
}
form legend,
form h2 {
  margin: 0;
  padding: 0.5em 0;
  text-indent: 0.5em;
	font-weight: bold;
	/*color: #004993;*/
  color: #333;
	font-size: 1.1em;
  background-color: #f1f1f1;
  width: 100%;
}
form .error {
	background-color: #ffe4ea;
}
form .single,
form .double,
form .triple,
form .quadruple {
  float: left;
	width: 25%;
	margin: 5px 0;
}
form .double {
  width: 50%;
}
form .triple {
  width: 75%;
}
form .quadruple {
  width: 100%;
}
form .mce_page,
form .mce_comment,
form .mce_description {
  border: 0;
}
/* .note places same line with input
  .hint places below input */
form .note,
form .hint {
  font-size: 90%;
  color: #888;
  font-weight: normal;
  padding-top: 0.5em;
}
form .hint {
  padding: 0;
}
form .submit {
  padding: 7px;
  margin: 10px 0 0 0;
}
form .submit .button {
  padding: 0.3em 1.5em;
  background-color:#545454;
  color: #fff;
}
form p {
  line-height: 2.2em;
}
form .hint_area {
  border:2px solid #f1f1f1;
  background-color: #f8f8f8;
  color: #666;
}

/*------------------ form response ------------------*/
#response {
}
#response ul,
#response li {
	padding: 0;
	margin: 0;
  list-style: none;
}
#response .fatal,
#response .success {
	padding: 1em;
  margin: 0 0 10px 0;
}
#response .fatal {
	/*color: #fff;
	background-color: #92224b;*/

	color: #a00029;
  border-top: 1px solid #faafb5;
  border-bottom: 1px solid #faafb5;
  background-color: #ffeff3;
}
#response .fatal ul {
	padding: 0.5em 14px 0 14px;
	margin: 0;
}
#response .fatal li {
	padding: 0.3em 0;
	list-style: disc;
}
#response .fatal dt,
#response .fatal dd {
  padding-left: 20px;
}
#response .fatal dt {
	background: url('exclamation.png') no-repeat center left;
}
#response .success {
	color: #4d7c09;
  border-top: 1px solid #ceef9e;
  border-bottom: 1px solid #ceef9e;
  background-color: #e9fad0;
}
#response .success dt {
  padding-left: 20px;
	background: url('tick.png') no-repeat center left;
}
#response .warning {
	color: #fff;
	background-color: #92224b;
}
/*------------------ curved ------------------*/
.curved,
.small_curved,
.small_curved_top,
.medium_curved,
.button {
  border: 0 solid #fff;
}
.curved {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -border-radius: 20px;
  border-radius: 20px;
}
.small_curved{
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -border-radius: 5px;
  border-radius: 5px;
}
.small_curved_bottom {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-radius-bottomleft: 5px;
  -webkit-border-radius-bottomright: 5px;
  -border-radius-bottomleft: 5px;
  -border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.medium_curved {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -border-radius: 10px;
  border-radius: 10px;
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------*/
#header,
#content_wrapper,
#footer{
	width: 945px;
	margin: 0px auto;
	padding:0px;
}
#header_wrapper,
#header{
	height:203px;
}
#main{
	background-color:#fff;
	padding:30px;
}
#content{
	padding:38px 0 0 0;
}
#sidebar1{
  padding:0;
	margin: 0 0 30px 0;
  display:block;
}
.bullets {
  background: url('bullets.png') no-repeat center left;
}
.clear{
  clear:both;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------*/

#header{
	position:relative;
}
#header .nav {
	position:absolute;
	width:410px;
	height:20px;
	margin:0;
	padding:0;
	top:12px;
	left:0px;
}
#header .nav ul {
	width:395px;
	height:20px;
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
}
#header .nav li {
	text-align:center;
	padding:0;	
	margin:0;
	display:inline;
}
#header .nav li a {
  margin: 0;
	padding:0.2em 0.5em;
	font-size:0.9em;
	font-weight:normal;
	display:inline-block;
	text-decoration:none;
	text-transform:capitalize;
}
#header  .nav li span{
	padding:0.2em 0.5em;
}
#header  .nav li a:hover {
	padding:0.2em 0.5em;
}
#header  .nav li.last {
	border:none;
}
#header .account{
	position:absolute;
  top:10px;
	left:415px; 
	width:390px;
	height:25px;
	overflow:hidden;
}
#header .account h2 {
}
#header .account form{
	width:390px;
	height:23px;
	margin:0;
	padding:0;
}
#header .account form dl{
	float:left;
}
#header .account form dt,
#header .account form dd{
  float: left;
	font-size:0.85em;
}
#header .account form dt{
	margin:0px 2px;	
}
#header .account form dd{
	margin:4px 0px 0 0px;
	height:17px;
}
#header .account fieldset,
#header .account fieldset .text {
  padding: 0;
  margin: 0;
  border: 0;
}
#header .account fieldset .text {
	width:65px;
	height:15px;
	padding:0 2px;
}
#header .account fieldset .button {
	border:0;
	margin:0px 2px;
	line-height:14px;
	font-weight:normal;
  padding: 0.4px 3px;
	display:inline;
}
#header .account fieldset .signup{
	margin:0px 2px;	
  padding: 0.4px 3px;	

}
#header .account
#header .account .log_in h2 {
}
#header .account .logged_in{
	overflow:hidden;
	width:390px;
	color:#fff;
	height:20px;
	margin:3px 0 0 0;
	padding:0 5px 0 0;
}
#header .account .logged_in h2{
	float:left;
	width:150px;
	padding: 0.1em 0.3em 0.1em 0em;
	margin:15px 0 0 0;
	font-style:italic;
	font-size:1em;
	text-transform:capitalize;
	overflow:hidden;
	text-align:center;
}	
#header .account .logged_in ul,
#header .account .logged_in ul li{
	display:inline;
}
#header .account .logged_in em{
	float:left;
	margin:0 0 0 10px;
}
#header .account .logged_in ul {
	float:left;
	width:270px;
	height:16px;
	margin: 0 0 0 12px;
	padding: 0;
}	
#header .account .logged_in ul li{
	padding:0;
	font-size:0.9em;
}
#header .account .logged_in  li a{
	padding:0 0.4em;
}
#header .account .logged_in  li a:hover{
}
#header.account .log_in ,
#header .account .logged_in {
}
#header .account .logged_in {
}
#header .account .logged_in em {
}
#header .cart_status,
#header .cart_status .widgets{
	width:130px;
	height:23px;
}
#header .cart_status{
  position:absolute;
  top:8px;
  right:0px;
}
#header .cart_status .widgets{
	position:relative;
  background-position:0px -50px;
}
#header .cart_status span {
	width:70px;
	height:13px;
	position:absolute;
	top:7px;
	right:13px;
	display: block;
	line-height: 0.9em;
	text-align:center;
}
#header .cart_status span strong{
	margin:0 4px 0 0;
}
#header .cart_status strong {
	font-size: 1em;
}

#header .logo_wrapper,
#header .logo {
	width:500px;
  height:140px;
}
#header .logo_wrapper {
	position:absolute;
  z-index: 10;
  overflow: hidden;
	top:45px;
  left:243px;
	text-align:center;
}
#header .logo_wrapper a{
	text-decoration:none;
}
#header .logo_wrapper .logo {
  background: no-repeat center center;
	display:block;
}
#header .logo_wrapper .site_name {
	width:460px;
	height:63px;
  display:block;
  margin:30px 0 0 0;
	padding:0 20px;
	font-size:4.5em;
	line-height:1em;
	overflow:hidden;
}
#header .logo_wrapper  .site_slogan {
	width:460px;
	height:18px;
  display:block;
	padding:0 20px;
  display:block;
	margin:5px 0 0 0;
	font-size:0.9em;
	overflow:hidden;	
}

#sidebar1 .nav-left{
	margin:0px;
	padding: 0 20px;
}
#sidebar1 .nav-left ul{
	margin:0;
	padding:0;
	list-style:none;
	text-align:center;
}
#sidebar1 .nav-left li{
	margin:0;
	padding:0;
	display:inline;
}
#sidebar1  .nav-left li span{
	display:block;
	height:57px;
	overflow:hidden;
}
#sidebar1 .nav-left li a {
	padding:10px 9px 10px 16px;
	margin:6px 0;
	font-size:1.5em;
	display:inline-block;
	text-decoration:none;
}
#sidebar1 .nav-left li a:hover{
}
#sidebar1 .nav-left li span{
}
#sidebar1 .nav-left li .last {
	background:none;	
}
#sidebar1 .type li a {
	padding:8px 6px 8px 13px;
	margin:6px 4px;
	font-size:1.1em;
	display:inline-block;
	text-decoration:none;
}
#main .highlight_wrapper{ 
	width: 885px;
	height: 370px;
	margin:0 0 40px 0;
	padding:0;
	overflow: hidden;
	text-align:center;
}
#main .highlight{
}
#main #highlight,
#main #highlight li span {
	width:885px;
	height:370px;	
	margin:0;
	padding:0;
	list-style:none;
	background: transparent no-repeat center center;
	display: block;
	overflow: hidden;		
}
.bx-pager{
	position:absolute;
	bottom:5px;
	right:20px;
	width:200px;
	height:25px;
	text-align:right;
}
.bx-pager a{
	color:#111;
	background-color:#fff;
	margin:0 0 0 5px;
	padding:1px 6px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -border-radius: 30px;
  border-radius: 30px;
	font-size:0.85em;
}
.bx-pager a:hover{
	background-color:#111;
}
#main .column{
	margin:0 0 25px 0;
  padding:0;
}
#main .column ul{
	width:850px;
  margin:0;
  padding:10px 0 10px 30px;
}
#main .column ul li{
	padding:0.6em 0 0.6em 18px;
	margin:0;
	list-style:none;  
}
#main .column ul li a{
	padding:0 0.5em;
  text-decoration:none;
}
#main .column ul li a:hover{
	padding:0 0.5em;
}
#main .column .topic2 span{
	font-size:1em;
	font-weight:normal;
	display:inline-block;
	padding:15px 20px;
	overflow:hidden;	
}
#footer_wrapper {
	clear: both;
}
#footer {
	color: #5f5f5f;
	height:105px;
	padding:0;
	position:relative;
}
#footer .footer {
	margin:0;
}
#footer .nav{
  position:absolute;
  top:0;
  left:0;
  width:945px;  
  height:45px;
	overflow:hidden;
	margin:0;
  padding:0;
	text-transform:none;
	text-align:center;
  border-bottom:2px dashed #9d9d9d;
}
#footer .nav ul{
	height:25px;
	margin:15px auto 0 auto;
	padding:0;
	list-style:none;
	overflow:hidden;
	text-align:center;
}
#footer .nav li {
	text-align:center;
	padding:0;	
	margin:0;
	display:inline;
}
#footer .nav li a {
	padding:0.3em 0.6em;
	font-size:1em;
	display:inline-block;
	text-decoration:none;
	text-transform:capitalize;
	font-weight:bold;
}
#footer .nav li span{
	overflow:hidden;
}
#footer .nav li a:hover{
}
#footer .nav li span{
}
#footer .nav li .last {
	background:none;	
}
#footer .search {
	width:150px;
	height: 22px;
	background-position: 0px -21px;
	position:absolute;
	top:62px;
	left:20px;
}
#footer .search fieldset,
#footer .search fieldset .text {
	padding: 0;
	margin: 0;
	border: 0;
}
#footer .search fieldset .text {
	width: 121px;
	margin: 3px 0px 0px 8px;
	height: 15px;
	background:none;
}
#footer .search fieldset .button {
	width: 18px;
	height: 15px;
	margin: 3px 0 0 0;
	padding:0;
	background: transparent no-repeat top left;
}

#footer .socials_wrapper {
	width:100px;
	height:20px;
	padding:0;
	margin:0;
	position:absolute;
	top:59px;
	left:288px;
}
#footer .socials span {
	width:20px;
	height:20px;
	display: block;
	float: left;
	margin: 3px 0 0 1px;
}
#footer .socials .follow {
}
#footer .socials .fb {
  background-position: 0px 0px;
}
#footer .socials .tw {
	background-position: -20px -0px;
}
#footer .socials .yt {
	background-position: -40px -0px;
}
#footer .socials .gp {
	background-position: -60px -0px;
}
#footer .copyright {
	width:400px;
	position:absolute;
	top:66px;
	right:0px;
	font-size: 0.85em;
	margin:0;
	text-align:right;
}
#footer .copyright,
#footer .copyright a {
  color: #5f5f5f;
}
#footer .stats {
}

/*----------------- Page-------------------*/
#page a,
#article a,
#blog a,
#discussions a {

}
#page a:hover,
#article a:hover,
#blog a:hover,
#discussions a:hover {
}
#page td,
#article td,
#product td{
  padding: 0.5em;
  border-bottom: 1px solid #e8e8e8;
}
#collection .padding{
	margin:10px 0 0 0;
}

#article .padding,
#page .padding{
	overflow:auto;
}
#discussion .breadcrumb{
	margin: 0.5em 0 1.5em 0;
	padding:0;	
}
#article .author{
	padding:10px 0 0 0;	
}
.page p{
	line-height:1.2em;
}
/*------------------ cart ------------------*/
#cart .items,
#cart .items tr,
#cart .items th,
#cart .items td {
	margin: 0;
	padding: 0;
}
#cart .items th,
#cart .items td {
	padding: 6px 3px;
}
#cart .items th {
	font-weight: bold;
}
#cart .items td {
}
#cart tr .image {
	width: 50px;
}
#cart tr .image div {
	height: 50px;
	background: #fff no-repeat center center;
}
#cart tr .title {
}
#cart tr .quantity {
	width: 110px;
	text-align: right;
	color: #6b6b6b;
	font-size: 90%;
	padding-right: 10px;
}
#cart tr .quantity input {
	width: 30px;
}
#cart tr .line_price {
	width: 85px;
	text-align: right;
}
#cart tr .remove {
	text-align: center;
	width: 60px;
}
#cart .summary {
  padding: 5px;
	font-size: 1.2em;
	margin: 10px 0;
	margin-top:30px;
}
#cart .summary .total_price {
	color: #222;
	font-weight: bold;
}
#cart .update_cart,
#cart .checkout {
	width: 100px;
	height: 34px;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
#cart .checkout {
	background-position: 0px -34px
}
#cart .update_cart {
	background-position: 0px -68px;
}/*------------------ pagination ------------------*/
#pagination {
	clear: both;
	margin: 1em 0;
	color:#808080;
	height:30px;
	line-height: 2em;
}
#pagination .total {
	text-align: left;
	padding-right: 15px;
	color:#643F09;
}
#pagination .pages {
	text-align: left;
	word-spacing: 0.5em;
}
#pagination .total,
#pagination .pages {

}
#pagination .current,
#pagination a {
  padding: 0.2em 0.5em;
	border: 1px solid #EFE1BD;
}
#pagination .current {
  background-color: #643F09;
  border: 1px solid #fff;
  color:#fff;
}
#pagination a {
	color: #808080;
	text-decoration: none;
  background-color: #fff;
}
#pagination a:hover {
  color: #927532;
  border: 1px solid #927532;
}
#pagination .disabled,
#pagination .hidden{
	display:none;
}
#pagination .previous,
#pagination .previous a,
#pagination .next,
#pagination .next a{
	border:none;
}
/*------------------ blog ------------------*/
#blog {
}
#blog ul,
#blog li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#blog li {
	width:885px;
  padding: 1em 0;
}
#blog .author,
#article .author {
  font-size: 0.9em;
}
#blog .author{
	margin:0.5em 0 1.5em 0;
}
#blog .image,
#blog .details {
  float: left;
}
#blog .image {
  margin: 0 15px 0 0;
  width: 100px
}
#blog .details {
	float:left;
	width:768px;
  overflow: hidden;
}
.details h2{
	font-size:1.1em;
	margin:0 0 5px 0;
}
#blog .featured_image {
  width: 100px;
  height: 100px;
  background: #fff no-repeat center center;
  border:1px solid #eee;
  display: block;
}
/*------------------ listing ------------------*/
.listing{
	color:#999;
}
.listing ul,
.listing li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.listing p {
  margin: 0.2em 0 0 0;
}
.listing th {
	text-align: left;
	font-weight: bold;
	padding: 0.5em;
}
.listing td {
	padding: 0.5em;
}
.listing th,
.listing td {
	line-height: 1.5em;
	vertical-align: top;
}
.listing td{
}
.listing .middle,
.listing .middle td {
  vertical-align: middle;
}
.listing .even {
	/*background-color: #f5f5f5;*/
}
.listing .odd {
}
.listing .hover {
}
.listing tr .empty {
  border: 0;
}
.listing .hidden td {
	color: #8d8d8d;
}

.listing .status span {
  display: block;
  width: 16px;
  height: 16px;
  margin: 2px;
}
.listing .status .featured {
  background: url('star.png') no-repeat top left;
}
.listing .status .closed {
  background: url('lock.png') no-repeat top left;
}
/*------------------ discussions ------------------*/
#discussions .listing .count,
#discussion .listing .date {
  width: 100px;
}
#discussion .listing .count {
  width: 80px;
}
#discussion .listing .status {
  width: 20px;
}

#discussions p {
  margin: 1em 0 0 0;
}
#discussion .original_post {
  margin: 0 0 20px 0;
}
#discussion .original_post .fr{
  margin: 10px 0;	
}
#discussion .original_post .body {
  width: 100%;
  overflow: auto;
}

#discussion .comment_form {
	clear:both;
  padding: 10px;
  margin: 10px;
}
#discussion .comment_form a{
}
#discussion .comment_form fieldset{
	margin:0;
	padding:0;
	border:none;
}
#discussion .comment_form .toppic{
	margin:0;
	padding:5px 0 5px 5px;
	
}
#discussion .comment_form fieldset dl{
	color:#555;
	margin: 10px 0;
}
#discussion .comment_form fieldset textarea{
	width:100%;
}
#discussion .page{
}
#discussion .page .padding{
	padding:10px;
}
/*------------------ comments ------------------*/
.comment {
}
#comments ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#comments li {
  margin: 0.5em 0 0.5em 0;
  padding: 0.5em;
}
#comments li .meta {
  float: right;
  width: 90%;
  padding: 10px;
}
#comments li .number {
  font-weight: bold;
}
#comments .hidden,
#comments .hidden a{
  color: #999;
}
#comments .avatar {
  float: left;
  width: 42px;
}
#comments .body {
  overflow: auto;
  margin: 1em 0 0 0;
}
#comments .body li{
	margin: 0.2em 0 ;
	padding:0;
}

/*------------------ product ------------------*/
#product .image {
	float: left;
}
#product .description a {
  color: #fe4974;
}
#product .description a:hover{
  color: #fe4974;
}
#product .topic1{
  float:right;
  text-align:left;
  font-size:1.3em;
  font-weight:lighter;
  line-height:1.3em;
  width:400px;
  overflow:hidden;
  padding:0 0 20px 0;
	margin:0 40px 0 0;  
}
#product .details {
	float: right;
	width: 400px;
  overflow: auto;
	margin:0 40px 0 0;
}
#product .details ul,
#product .details li {
	margin: 0;
	padding: 0;
	list-style: none;
}
#product .details li{
  padding: 20px 0;
}
#product .topic1,
#product .details li{
  border-bottom:1px dotted #f0f0f0;
}
#product .details h1 {
	padding-bottom:10px;
	margin-bottom:10px;
	background:none;
}
#product .details form {
	margin: 0 0 10px 0;
}
#product .details p{
	margin: 0.5em 0 0.5em 0;
}
#product .details .variants,
#product .details .variants li,
#product .details .variants input {
	padding: 0;
	margin: 0;
}
#product .details .variants li {
	list-style: none;
	/*line-height: 2em;*/
	padding-bottom: 0.5em;
}
#product .details .quantity{
	float: left;
	padding-right: 10px;
	hanging-punctuation:27px;
	line-height:27px;
}
#product .details .quantity input {
	width: 30px;
}
#product .featured_image {
  float:left;
}
#product .featured_image a{
	display:block;
}
#product .featured_image span {
	width: 400px;
	height: 400px;
	background: #fff no-repeat center center;
	display: block;
}
#product .textbox {
	font-size: 90%;
}
#product .price {
/*	color: #ff6b83;*/
/* color: #cb6ec5;*/
}
#product .all{
  padding:0;
  margin: 20px 0;
}
#product .all ul,
#product .all li{
  list-style:none;
  padding:0;
  margin:0;
}
#product .all li{
  text-align:center;
  margin: 0 0 20px 0;
}
#product .compare_at_price  {
	text-decoration: line-through;
}
#product .description {
	overflow: hidden;
  padding: 20px 0;
}
#product .extra_images {
	padding: 0;
  margin: 10px 0 0 0;
  float: left;
  width: 400px;
}
#product .extra_images ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
#product .extra_images li span {
	display: block;
	float: left;
	width: 48px;
	height: 48px;
	background: transparent no-repeat center center;
	margin: 0 10px 10px 0;
	border: 1px solid #eaeaea;
}
#product .buy {
  float: left;
}
#product .buy .add_to_cart {
	width: 100px;
	height: 34px;
	border: 0;
	margin: 3px 0 0 0;
	padding: 0;
	cursor: pointer;
	background-position:0 0;
}
#product .padding{
	margin:0 0 20px 0;
}

/*------------------ collection ------------------*/
#collection{
  width:885px;
}
#collection .breadcrumb,
#collection .breadcrumb a{
	font-size: 0.9em;
	margin: 0.5em 0;
}
#collection .breadcrumb{
	padding:0 6px;
}
#collection .toppic1{
}
#collection .padding {
}
#collection .subcategory{
	padding:0 0 3px 0;
	margin:0 0 10px 0;
}
#collection .subcategory a{
	display:inline-block;	
	padding:2px 5px;
	margin:0 5px 10px 0;
}
#collection .subcategory a:hover{
}
#collection .grid,
#collection .grid li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#collection .grid li {
	overflow:hidden;
}
#collection .grid li{
  float: left;
  width: 200px;
  height: 370px;
  margin: 0 11px 15px 10px;
	padding:0px;
	text-align:center;
	position:relative;
}
#collection .grid li .soldout{
		width: 127px;
		height: 90px;
		position:absolute;
		top:0;
		left:0;
		z-index:100;
		background: url('soldout.png') no-repeat left top;
}
#collection .image {
	height: 260px;
	overflow: hidden;
	margin: 0 0 5px 0;
	display: block;
	background: #fff no-repeat center center;
}
#collection .price_bg{
	width:160px;
	height:28px;
}
#collection .price {
	font-size: 1em;
  height:16px;  
	margin: 0.8em 0 0 0;
	padding: 0;
}
#collection .title {
	height: 39px;
	overflow: hidden;
	line-height: 1.2em;
	margin: 0 0 4px 0;
  padding: 0 10px;
	font-size: 0.85em;
}
#collection .buy {
	margin: 9px 4px 0 0;
}
#collection .buy a{
	display:inline-block;
}
#collection .buy a .view{
	width: 66px;
	height: 17px;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background-position: 0px -119px;
	display:block;
}
#collection .buy a:hover {
}
#collection .buy .add_to_cart {
	width: 66px;
	height: 17px;
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background-position: 0px -102px;
}
#collection .description {
	padding: 6px;
	margin-bottom:20px;
}
#collection .topic1 span{
	display:inline-block;
	height:30px;
	padding:0;
	overflow:hidden;
}
#frontpage #message .message_wrapper,
#product .padding .description{
	overflow:auto;
}
.topic1{
	font-size:1.4em;
}
#cart .topic1,
#collection .topic1,
#page .topic1{
	margin:0 0 20px 0;
}
#blog .topic1{
	margin:0 0 10px 0;
}
#cart .topic1,
#collection .topic1,
#page .topic1,
#blog .topic1,
#discussion .topic1,
#discussion .page .topic1{
	text-transform:uppercase;
	font-weight:normal;	
}
#cart .topic1,
#page .topic1,
#blog .topic1,
#discussion .topic1,
#discussion .page .topic1{
	padding:0 0 0 15px;
}
#cart .topic1,
#page .topic1,
#blog .topic1,
#discussion .topic1,
#discussion .page .topic1{
	background:url("icon_a_nav-left.png") no-repeat center left;
}